# Администратор (используется при первом старте)
ADMIN_EMAIL=admin@local
ADMIN_PASSWORD=ChangeMe_123!
ADMIN_FULLNAME=Администратор

# URL и хранилище
APP_BASE_URL=http://localhost:8080
APP_STORAGE_PATH=/app/storage/documents
ADMIN_IP_WHITELIST=127.0.0.1,::1,0:0:0:0:0:0:0:1

# Профиль
SPRING_PROFILES_ACTIVE=prod

# PostgreSQL
DB_URL=jdbc:postgresql://postgres:5432/ukep
DB_USER=ukep
DB_PASSWORD=change_me_strong

# Почта
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@example.com

# TSP для CAdES-T (опционально)
TSP_URL=http://cryptopro.ru/tsp/tsp.srf
